<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body>

<div th:replace="fragments::page-header"></div>

<table class="table table-bordered container col-md-9">
    <tr>
        <td>ToDo</td><td>link</td>
    </tr>
    <tr th:if="${user.getAvailableTimes().size() == 0}">
        <td>Appointment Times</td><td><a th:href="'/time-set/' + ${user.getId()}">Set Appointment Times</a></td>
    </tr>
    <tr th:if="${bar}">
        <td>User Permissions</td><td><a href="/permiss">Update Permissions</a></td>
    </tr>
</table>

<div th:replace="fragments::js-footer"></div>

</body>
</html>