<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body>

<div th:replace="fragments::page-header"></div>

<table class="table table-bordered col-md-8 table-hover container">
    <tr>
        <td>Computer Type</td>
        <td>Operating System</td>
        <td>Serial Number</td>
        <td>Problem</td>
        <td>Status</td>
        <td>User Email</td>
        <td th:if="${workRequest.isScheduled()}">Appointment</td>
    </tr>
    <tr>
        <td th:text="${workRequest.getTypeOfComputer()}"></td>
        <td th:text="${workRequest.getOpSys()}"></td>
        <td th:text="${workRequest.getSerialNumber()}"></td>
        <td th:text="${workRequest.getProblem()}"></td>
        <td th:text="${workRequest.getStatus()}"></td>
        <td th:text="${workRequest.getUserEmail()}"></td>
        <td th:if="${workRequest.isScheduled()}" th:text="${workRequest.getAppointment().getTime()}"></td>
    </tr>
</table>
<div class="container text-center"><h3>Description</h3><p th:text="${workRequest.getDescription()}"></p></div>

<div th:replace="fragments::js-footer"></div>

</body>
</html>