<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body>

<div th:replace="fragments::page-header"></div>

<table class="table table-bordered">
    <tr>
    <td>Computer Type</td>
        <td>Operating System</td>
        <td>Serial Number</td>
        <td>Problem</td>
        <td>User Email</td>
        <td>Status</td>
        <td th:if="${user.anyCompleted()}">Action</td>
    </tr>
    <tr th:each="workRequest : ${user.getWorkRequests()}">
        <td th:text="${workRequest.getTypeOfComputer()}"></td>
        <td th:text="${workRequest.getOpSys()}"></td>
        <td th:text="${workRequest.getSerialNumber()}"></td>
        <td th:text="${workRequest.getProblem()}"></td>
        <td th:text="${workRequest.getUserEmail()}"></td>
        <td th:text="${workRequest.getStatus()}"></td>
        <td th:if="${workRequest.getStatus().equals(poop)}"><a href="/work">Accept?</a></td>
    </tr>
</table>

<div th:replace="fragments::js-footer"></div>

</body>
</html>